:root {
    --gray-color: #727272;
    --bg-color-blue: #39aae1;
    --white-color: #FFFFFF;
}

body { 
    font-family: Arial;
    margin: 0;
    padding: 0;
}

header { 
    display: flex;
    justify-content: center;
    height: 120px;
}

.container { 
    display: flex;
    justify-content: space-between;
    width: 990px;
}

.logo {
    display: flex;
    align-items: center;
}

.menu { 
    display: flex;
    align-items: center;
}

nav ul,
nav li {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav ul { 
    display: flex;
}

nav a {
    text-decoration: none;
    text-transform: uppercase;
    padding: 15px;
    color: var(--gray-color)
}

nav .active a,
nav a:hover { 
    background-color: var(--bg-color-blue);
    color: var(--white-color);
}

